@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap");
html,
body,
#root,
.app,
.content {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Source Sans Pro", sans-serif; */
}
html {
  min-height: max-content;
}
body {
  margin: 0;
  width: 100%;
  background-color: #f2fbf7;
  scroll-behavior: smooth;
}
#app {
  display: flex;
  width: 100%;
}
#nameside {
  font-family: "Lobster", cursive;
}
.css-1e2bxag-MuiDataGrid-root {
  border: none !important;
  line-height: 2rem;
}
.css-aj5yx6-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
  font-size: initial;
}
#header {
  font-family: auto;
  font-size: 30px;
  font-weight: 550;
  text-align: center;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  box-shadow: none;
  border-radius: 0 !important;
}
.logout:hover {
  cursor: pointer;
}
#form {
  width: auto;
}
input,
button {
  box-shadow: none !important;
  color: yellowgreen;
}
.css-l4u8b9-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #53c79e !important;
  font-weight: bold !important;
}
.css-jd1zyo-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus {
  background-color: unset !important;
}
.new-line {
  white-space: pre-line;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #53c79e !important;
  font-weight: bold !important;
}
